{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            "never"
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [4, 0],
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ]
    }
}